nav{
    background-color: #31255a;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Garamond, serif;
    font-size: 30px;
    color: #8fe0ff;
}